@model GestorEnergetico.ViewModel.CategoriaViewModel
@{
    ViewData["Title"] = "Nova Categoria";
}

<h1>Nova Categoria</h1>

<h4>Dados da Categoria</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Criar">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-row">
                <div class="form-group col">
                    <label asp-for="Descricao" class="control-label"></label>
                    <input asp-for="Descricao" class="form-control" />
                    <span asp-validation-for="Descricao" class="text-danger"></span>
                </div>
                <div class="form-group col">
                    <label asp-for="CategoriaPaiId" class="control-label"></label>
                    <select class="form-control" asp-for="CategoriaPaiId">
                        <option>SELECIONE AQUI...</option>
                        <option>Sem Categoria pai</option>
                        @foreach (var item in Model.Categorias)
                        {
                            <option value="@item.Id">@item.Descricao</option>
                        }
                    </select>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-primary" />
                <a asp-action="Index">Voltar</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}