@model IEnumerable<GestorEnergetico.Models.Dto.CategoriasConsumoDto>

@{
    ViewData["Title"] = "Categorias que mais consome";
}


<table class="table text-center">
    <thead>
        <tr>
            <th>
                Nome da Categoria
            </th>
            <th>
                Total kWh / Mês
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NomeCategoria)
                </td>
                <td>
                    @String.Format("{0:N2}", item.QuantidadeConsumoMensal)
                </td>
            </tr>
        }
    </tbody>
</table>