@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo</h1>
    <h3>Acessar relatórios abaixo</h3>
    <div class="mt-4">
        <p>
            <a asp-action="TotalConsumo">Total de Consumo de Energia</a> | 
            <a asp-action="CategoriasConsumo">Categorias que mais consomem</a> | 
            <a asp-action="ItensConsumo">Itens que mais consomem</a>
        </p>
    </div>
</div>
